#ortho_map {
  width: 100%;
  height: 400px;
}

#ortho_map .ol-custom-overviewmap,
#ortho_map .ol-custom-overviewmap.ol-uncollapsible {
  bottom: auto;
  left: auto;
  right: 0;
  top: 0;
}

#ortho_map .ol-custom-overviewmap:not(.ol-collapsed)  {
  border: 1px solid black;
}

#ortho_map .ol-custom-overviewmap .ol-overviewmap-map {
  border: none;
  width: 300px;
}

#ortho_map .ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
}

#ortho_map .ol-custom-overviewmap:not(.ol-collapsed) button{
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
}